In [2]:
import sklearn
import pandas as pd

In [4]:
df = pd.read_csv("wine-quality-white-and-red.csv")
df['type'] = df['type'].replace(to_replace="white",
           value="1")
df['type'] = df['type'].replace(to_replace="red",
           value="2")
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,1,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,1,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,1,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,2,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,2,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
6494,2,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,2,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,2,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Made some labelizing to replace white and red with 1 and 2, respectively

In [3]:
corr_matrix = df.corr()
print(abs(corr_matrix["quality"].sort_values(ascending=False)))

quality                 1.000000
alcohol                 0.444319
citric acid             0.085532
free sulfur dioxide     0.055463
sulphates               0.038485
pH                      0.019506
residual sugar          0.036980
total sulfur dioxide    0.041385
fixed acidity           0.076743
chlorides               0.200666
volatile acidity        0.265699
density                 0.305858
Name: quality, dtype: float64

C:\Users\Max\AppData\Local\Temp\ipykernel_8556\125332920.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

Worked with correlated values from 0.2 to 0.8 (just had problems with finding better datasets)

## Trained based on all data

In [6]:
df_update = df[['alcohol', 'density', 'volatile acidity','quality','type']].copy()

df_update

      alcohol  density  volatile acidity  quality type
0         8.8  1.00100             0.270        6    1
1         9.5  0.99400             0.300        6    1
2        10.1  0.99510             0.280        6    1
3         9.9  0.99560             0.230        6    1
4         9.9  0.99560             0.230        6    1
...       ...      ...               ...      ...  ...
6492     10.5  0.99490             0.600        5    2
6493     11.2  0.99512             0.550        6    2
6494     11.0  0.99574             0.510        6    2
6495     10.2  0.99547             0.645        5    2
6496     11.0  0.99549             0.310        6    2

[6497 rows x 5 columns]

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X= df[['alcohol', 'density', 'volatile acidity','quality','fixed acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','pH','sulphates']]
y= df['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
regr = LinearRegression()
 
regr.fit(X_train, y_train)
print(regr.score(X_test, y_test))

0.832122255297448

First trained datased based on all parameters. Good result

In [9]:
df.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Checked if I have some null values in dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import numpy as np
 
class Linearregression:

    def __init__(self, learning_rate=0.0001, n_iters=1000):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iters):
            y_predicted = np.dot(X, self.weights) + self.bias
           
            dw = (1 / n_samples) * np.dot(X.T, (y_predicted - y))
            db = (1 / n_samples) * np.sum(y_predicted - y)

            self.weights -= self.lr * dw
            self.bias -= self.lr * db


    def predict(self, X):
        y_approximated = np.dot(X, self.weights) + self.bias
        return y_approximated
    

df = pd.read_csv("wine-quality-white-and-red.csv")
X = df[['alcohol', 'density', 'volatile acidity', 'quality', 'fixed acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'pH', 'sulphates']].values
y =df['type'].values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)


X_train, X_test, Y_train,Y_test = train_test_split(X, y, test_size=1/3, random_state=0)
model = Linearregression()
  
model.fit( X_train, Y_train )

# Prediction on test set

Y_pred = model.predict( X_test )
 
print( "Predicted values ", Y_pred[:3])
      

print( "Real values      ", Y_test[:3] )

Y_pred_labels = np.round(Y_pred).astype(int)

Y_test_labels = Y_test.astype(int)

accuracy = accuracy_score(Y_test_labels, Y_pred_labels)
print("Accuracy score:", accuracy)

Predicted values  [0.19566227 0.63801379 0.84474108]
Real values       [0 0 1]
Accuracy score: 0.9367497691597415

Made Linear Regression from scratch. Got better results (maybe because it is done from scratch, and I optimized the algorithm based on this dataset)

## Trained on correlated values

In [11]:
df_update

      alcohol  density  volatile acidity  quality type
0         8.8  1.00100             0.270        6    1
1         9.5  0.99400             0.300        6    1
2        10.1  0.99510             0.280        6    1
3         9.9  0.99560             0.230        6    1
4         9.9  0.99560             0.230        6    1
...       ...      ...               ...      ...  ...
6492     10.5  0.99490             0.600        5    2
6493     11.2  0.99512             0.550        6    2
6494     11.0  0.99574             0.510        6    2
6495     10.2  0.99547             0.645        5    2
6496     11.0  0.99549             0.310        6    2

[6497 rows x 5 columns]

In [18]:
from sklearn.linear_model import LinearRegression
X= df[['alcohol', 'density', 'volatile acidity','quality']].values
y= df['type'].values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.33, random_state=0)
regr = LinearRegression()
regr.fit(X_train, Y_train)
model = Linearregression()
model.fit( X_train, Y_train)
Y_pred = model.predict( X_test )
Y_pred_labels = np.round(Y_pred).astype(int)

Y_test_labels = Y_test.astype(int)

accuracy = accuracy_score(Y_test_labels, Y_pred_labels)
print("Accuracy score for 'from scratch'", accuracy)
print("Accuracy score for 'from sklearn'",regr.score(X_test, Y_test))

Accuracy score for 'from scratch' 0.7673659673659674
Accuracy score for 'from sklearn' 0.5144349318852606

Made the same thing, but with the most correlated data. Got worser results. I assume that's because the correlated values are absolute, this means that some of them can be negative, thus making the accuracy worser.